.hidden {
    display: none;
}

body {
    background-image:url(../images/background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#icon_panel {
    background-color: rgba(0, 0, 150, 0.5);
    border: 5px solid black;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    height: 110px;
    width: 690px;
}

.sound_icon {
    width: 100px;
    margin: auto;
}

.audio-controls {
    margin-top: 20px;
    padding: 30px;
    display: flex;
    border: 5px solid black;
    border-radius: 15px;
    background-color: rgba(0, 0, 150, 0.5);
    flex-direction: column;
    align-items: center;
}

#drop_zone_panel {
    background-color: rgba(0, 0, 150, 0.5);
    border: 5px solid black;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-radius: 15px;
    height: 110px;
    width: 690px; 
}
.drop_zone {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 5px solid black;
    border-radius: 15px; 
    display: block;
}

.audio-controls button, #volumeControl {
    display: block;
    margin-bottom: 10px;
}

/* grids */
.grid-con { 
    display: grid; 
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-column-gap: 5px;
 }
.col-span-1	{grid-column: span 1 / span 1;}
.col-span-2	{grid-column: span 2 / span 2;}
.col-span-3	{grid-column: span 3 / span 3;}
.col-span-4	{grid-column: span 4 / span 4;}
.col-span-5	{grid-column: span 5 / span 5;}
.col-span-6	{grid-column: span 6 / span 6;}
.col-span-7	{grid-column: span 7 / span 7;}
.col-span-full {grid-column: 1 / -1;}

.col-start-1	{grid-column-start: 1;}
.col-start-2	{grid-column-start: 2;}
.col-start-3	{grid-column-start: 3;}
.col-start-4	{grid-column-start: 4;}
.col-start-5	{grid-column-start: 5;}
.col-start-6	{grid-column-start: 6;}
.col-start-7	{grid-column-start: 7;}

.col-end-1	{grid-column-end: 1;}
.col-end-2	{grid-column-end: 2;}
.col-end-3	{grid-column-end: 3;}
.col-end-4	{grid-column-end: 4;}
.col-end-5	{grid-column-end: 5;}
.col-end-6	{grid-column-end: 6;}
.col-end-7	{grid-column-end: 7;}